[submodule "puppetmaster/modules/activemq"]
	path = puppetmaster/modules/activemq
	url = git://github.com/fsalum/puppetlabs-activemq.git
[submodule "puppetmaster/modules/apache"]
	path = puppetmaster/modules/apache
	url = git://github.com/puppetlabs/puppetlabs-apache.git
[submodule "puppetmaster/modules/apt"]
	path = puppetmaster/modules/apt
	url = git://github.com/puppetlabs/puppetlabs-apt.git
[submodule "puppetmaster/modules/dashboard"]
	path = puppetmaster/modules/dashboard
	url = git://github.com/fsalum/puppetlabs-dashboard.git
[submodule "puppetmaster/modules/firewall"]
	path = puppetmaster/modules/firewall
	url = git://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "puppetmaster/modules/inifile"]
	path = puppetmaster/modules/inifile
	url = git://github.com/cprice-puppet/puppetlabs-inifile.git
[submodule "puppetmaster/modules/java"]
	path = puppetmaster/modules/java
	url = git://github.com/puppetlabs/puppetlabs-java
[submodule "puppetmaster/modules/mcollective"]
	path = puppetmaster/modules/mcollective
	url = git://github.com/fsalum/puppetlabs-mcollective.git
[submodule "puppetmaster/modules/mysql"]
	path = puppetmaster/modules/mysql
	url = git://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "puppetmaster/modules/newrelic"]
	path = puppetmaster/modules/newrelic
	url = git://github.com/fsalum/puppet-newrelic.git
[submodule "puppetmaster/modules/passenger"]
	path = puppetmaster/modules/passenger
	url = git://github.com/fsalum/puppetlabs-passenger.git
[submodule "puppetmaster/modules/postgresql"]
	path = puppetmaster/modules/postgresql
	url = git://github.com/puppetlabs/puppet-postgresql.git
[submodule "puppetmaster/modules/puppetdb"]
	path = puppetmaster/modules/puppetdb
	url = git://github.com/puppetlabs/puppetlabs-puppetdb.git
[submodule "puppetmaster/modules/puppetmaster"]
	path = puppetmaster/modules/puppetmaster
	url = git://github.com/fsalum/puppet-puppetmaster.git
[submodule "puppetmaster/modules/ruby"]
	path = puppetmaster/modules/ruby
	url = git://github.com/puppetlabs/puppetlabs-ruby.git
[submodule "puppetmaster/modules/stdlib"]
	path = puppetmaster/modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib
